@import '../../static/styles/variables.scss';
//
.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  height: 72px;
  background-color: $primary;
  min-height: auto;
  border-bottom: 1px solid $secondary;
}
