.container {
  flex: 1;
  align-self: stretch;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productContainer {
  cursor: pointer;
}

.productImage {
  width: 100%;
  max-width: 320px;
  border-radius: 8px;
}

.productPrice {
  font-weight: 700;
}

.footerContainer {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
