@import '../../static/styles/variables.scss';
//
.container {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  padding: 16px 24px;
  padding-top: 88px; // header
  text-align: center;
}

.black {
  background-color: $primary;
}
