@import '../../static/styles/variables.scss';
//
.container {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  padding: 16px 24px;
  padding-top: 88px; // header
  text-align: center;
}

.dramatic {
  background-color: $primary;
  background-image: url('../../static/images/trianglify.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
