@import '../../static/styles/variables.scss';
//
.container {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    padding: 16px 24px;
    padding-top: 88px; // header
    text-align: center;
}