@import '../../../static/styles/variables.scss';
//
.container {
    flex: 1;
    align-self: center;
    width: 100%;
    max-width: 720px;
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding-bottom: 16px;
}

.imageContainer {
    padding-right: 16px;
}

.image {
    width: 240px;
    max-width: 240px;
    border-radius: 8px;
}

.buttonContainer {
    align-items: center;
}

.lineSeparatorContainer {
    align-items: center;
}

.specItem {
    margin-bottom: 8px;
}

.footerContainer {
    align-items: center;
}