@import '../../static/styles/variables.scss';
.container {
  align-self: center;
  align-items: center;
  max-width: 720px;
}

.titleText {
  font-size: 3em;
  color: $secondary;
}

.descriptionText {
  color: $secondary;
}
