@import 'variables.scss';
//
.container {
    padding: 16px 24px;
    background-color: $secondary;
    color: $primary;
    min-width: 240px;
    min-height: 32px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.5s ease;
    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    } //
    // Important that this is here and not in typography
    font-family: 'Roboto Condensed';
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 700;
}

.primary {
    background-color: $accent;
}

.small {
    padding: 8px 12px;
    min-width: auto;
    box-shadow: none;
    &:hover {
        box-shadow: none;
    }
}