@import 'variables.scss';
//
.container {
  padding: 16px 24px;
  background-color: $secondary;
  color: $primary;
  border-radius: 4px;
  margin: 8px 0;
  min-width: 240px;
  text-decoration: none;
  font-family: 'Roboto Condensed';
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.primary {
  background-color: $accent;
}
