@import 'variables.scss';
//
form {
  width: 100%;
  overflow: auto;
}

label,
input {
  margin-bottom: 8px;
}

label {
  text-align: left;
}

input,
select {
  outline: none;
  border: none;
  border-bottom: 1px solid $primary;
  border-radius: 2px;
  font-size: 1em;
  padding: 8px 12px;
  padding-left: 0;
  min-height: 2.5em;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  &:focus {
    border-color: $accent;
  }
}

select {
  background: url('../images/icon-select-dropdown.svg') no-repeat 97% center;
}
