@import 'fonts.scss';
@import 'forms.scss';
@import 'typography.scss';
@import 'variables.scss';
//
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

button {
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.5s ease;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
