h1,
h2,
h3 {
  line-height: 1.5;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.375em;
}

h3 {
  font-size: 1.25em;
  font-weight: 200;
}

h4 {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: regular;
}

h5 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

p {
  font-size: 1em;
}
